#portfolio-location {
	
}

#about-location {
	
}

#portfolio-content 
{
	
}

#copybeat-info 
{
	
}
#asteroids-info
{
	
}
#3dmaze-info 
{
	
}
#enron-info
{
	
}

.hidden 
{
	display:none;
}

.subsection-content 
{
	
}

.subsection-title 
{
	float:left; 
	width:100%;
	display:table-cell;
	text-align:center;
	padding-bottom: 3%;
}
.subsection-plaintext 
{
	padding-left: 2%;
	padding-right: 2%;
	font-size: 12px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
