#portfolio-location {
	
}

#about-location {
	
}

.size-limit 
{
	width: 100%;
	height: auto;
}

#portfolio-content 
{
	
}

#copybeat-info 
{
	
}
#asteroids-info
{
	
}
#3dmaze-info 
{
	
}
#enron-info
{
	
}

.hidden 
{
	display:none;
}

.subsection-content 
{
	
}

.subsection-title 
{
	float:left; 
	width:100%;
	display:table-cell;
	text-align:center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}
